

#balance_sheet
{
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    gap: 16px;

    /* we have to re-enable them after #app_html disables them */
    pointer-events: initial;
}
